<ion-view title="Terry Application PDF">
  <ion-content padding="'true'" class="has-header">
    <div class="row">
      <div class="col">
        <label class="item item-input text">
          <textarea placeholder="Enter CSV here to generate PDF." rows="5" ng-model="$parent.csv" ng-Required="true" name="description"></textarea>
        </label>
      </div>
    </div>
    <button class="button button-stable button-block" ng-click="read()">Process Input</button>

    <ion-list>
      <ion-item ng-show="inputJSON.length > 0">
        Students
      </ion-item>
      <ion-item ng-hide="inputJSON.length > 0">
        No Students Found
      </ion-item>
      <ion-item class="item item-button-right" ng-repeat="jsonItem in inputJSON">
        {{jsonItem["last_name"]}}, {{jsonItem["first_name"]}}
        <button class="button button-positive" ng-click="generatePDF(jsonItem)">
          <i class="icon ion-android-download"></i>
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
